.container{
    text-align: center;
    padding: 20px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 16px;
}

.list{
    margin: 10px;
    border: 2px solid red;
    border-radius: 16px;

}