.botao{
    display: flex;
    padding: 5px;
    margin: 0 auto;
    border: 2px solid purple;
    border-radius: 16px;
    color: white;
}

.botao:hover{
    cursor: pointer;
}

.icone{
    padding: 1px;
}